<div th:insert="fragments/header :: header-area"></div>
	<h1 class="text-primary">Lista de Productos</h1>
	
	<table class="table table-striped table-bordered table-hover">
	  <tr>
	  	<th>Logo</th>
	    <th>Id</th>
	    <th>Nombre</th>
	    <th>Fecha de Pub</th>
	    <th>Precio</th>
  	   	<th>Descripcion</th>
  	   	<th>Destacada</th>
  	   	<th>Detalle</th>
  	   	<th>Borrar</th>
	  </tr>

	  <tr th:each="producto : ${productos}"> 
	    <td>
	    	<img th:src="@{/img/gallery/{img} ( img=${producto.imagen} ) }" width="136" height="136" >
	    </td>
	    <td th:text="${producto.id}"></td>
	    <td th:text="${producto.nombre}"></td>
	    <td th:text="${producto.fecha}"></td>
	    <td th:text="${producto.precio}"></td>
	    <td th:text="${producto.descripcion}"></td>
	    <!-- 
	    <td th:text="${producto.destacado}"></td>
	    <td th:text="${producto.destacado == 1 ? 'Si' : 'No'}"></td>
	    -->
	    <td>
	    
	    	<span th:if="${producto.destacado==1}" class="badge bg-success">Si</span>
	    	<span th:unless="${producto.destacado==1}" class="badge bg-danger">No</span>
	    
	    </td>
	    <td>
	    	<a th:href="@{/productos/view/{id} (id=${producto.id})  }" class="btn btn-success">Detalle</a>
	    </td>
	    <td>
	    	<a th:href="@{/productos/delete(id=${producto.id})  }" class="btn btn-danger">Borrar</a>
	    </td>
	    
	     
	  </tr>
	  
	</table>
	
<div th:insert="fragments/footer :: footer-area"></div>

	<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-u1OknCvxWvY5kfmNBILK2hRnQC3Pr17a+RTT6rIHI7NnikvbZlHgTPOOmMi466C8" crossorigin="anonymous"></script>
</body>
</html>