<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="utf-8">
<meta name="viewport"
	content="width=device-width, initial-scale=1, shrink-to-fit=no">
<meta name="description" content="">
<meta name="author" content="">
<link rel="icon" href="favicon.ico">

<title>CEW & MV</title>
<!-- Bootstrap core CSS -->
<link th:href="@{/bootstrap/css/bootstrap.min.css}" rel="stylesheet">
<!-- Custom styles for this template -->
<link th:href="@{/bootstrap/css/jumbotron.css}" rel="stylesheet">
<link th:href="@{/bootstrap/css/sticky-footer-navbar.css}"
	rel="stylesheet">
</head>

<body>

	<div th:insert="fragments/header :: header-area"></div>

	<main role="main">
		<hr>
		<div class="container">

			<div class="row">
				<div class="col-md-3">
					<img class="rounded mx-auto d-block"
						th:src="@{/img/gallery/{img} ( img=${producto.imagen} ) }"
						alt="Generic placeholder image" width="220" height="220">
				</div>
				<div class="col-md-9">
					<div class="card">
						<h3 class="card-header">
							Mira nuestro producto: <strong th:text="${producto.nombre}"></strong>
						</h3>
						<div class="card-body">
							<h4 class="card-title">
								<strong>Categoría: </strong> <span
									th:text="${producto.categoria.nombre}"></span>
							</h4>
							<h4 class="card-title">
								<strong>Material: </strong><span th:text="${producto.materiales}"></span>
							</h4>
							<h4 class="card-title">
								<strong>Talla: </strong><span th:text="${producto.talla}"></span>
							</h4>
							<h4 class="card-title">
								<strong>Precio: </strong><span th:text="${producto.precio}"></span>
							</h4>
							<h4 class="card-title">
								<strong>Oferta: </strong><span th:text="${producto.oferta}"></span>
							</h4>
							<p class="card-text" th:text="${producto.descripcion}"></p>
						</div>
					</div>
				</div>
			</div>

		</div>
	</main>
	<br>

	<div th:insert="fragments/footer :: footer-area"></div>

	<!-- Bootstrap core JavaScript
    ================================================== -->
	<!-- Placed at the end of the document so the pages load faster -->
	<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
	<script th:src="@{/bootstrap/js/bootstrap.min.js}"></script>
</body>
</html>



<!--
<div th:insert="fragments/header :: header-area"></div>
    
    <main>
			<div class="small-tittle mb-20">
			<div class="col-md-4  justify-content-center">
			  <img  th:src="@{/img/gallery/{img} ( img=${producto.imagen} ) }" width="250" class="my-4">
			</div>
			<div class="justify-content-center abs-center">
			<h2>Nombre: <span th:text="${producto.nombre}"></span> </h2>   
    			<h2>Descripcion: <span th:text="${producto.descripcion}"></span> </h2>
    			<h2>Precio: $<span th:text="${producto.precio}"></span> </h2>
    			<h2>Fecha: <span th:text="${producto.fecha}"></span> </h2></div>
    			
    		</div> 
    
    
    </main>
<div th:insert="fragments/footer :: footer-area"></div>
-->