<div th:insert="fragments/header :: header-area"></div>
 
<h1 class="text-dark">Lista de Productos</h1>
	
	<table id="mytable" class="table table-striped table-bordered table-hover">
	  <tr>
	  	<th scope="col">Id</th>
	    <th scope="col">Nombre</th>
	    <th scope="col">Descripcion</th>
	    <th scope="col">Materiales</th>
	    <th scope="col">Talla</th>
  	   	<th scope="col">Precio</th>
  	   	<th scope="col">Imagen</th>
  	   	<th scope="col">En oferta</th>
  	   	<th scope="col">Categoria</th>
  	   	<th scope="col">operaciones</th>
  	   	
	  </tr>

	  <tr th:each="producto : ${productos}"> 
	  
	    <td th:text="${producto.id}"></td>
	    <td th:text="${producto.nombre}"></td>
	    <td th:text="${producto.descripcion}"></td>
	      <td th:text="${producto.materiales}"></td>
	     <td th:text="${producto.talla}"></td>
	    <td th:text="${producto.precio}"></td>
	      <td>
	    	<img th:src="@{/img/gallery/{img} ( img=${producto.ArchivoImagen} ) }" width="136" height="136" >
	      </td>
	   
	    <td th:text="${producto.oferta}"></td>
	     <td th:text="${producto.idCategoria}"></td>
	    <td>
	   <!-- dinamica  -->
	    	<a th:href="@{/productos/view/{id} (id=${producto.id})  }" class="btn btn-success">Detalle</a>
	    </td>
	    <td>
	    	<a th:href="@{/productos/delete(id=${producto.id})  }" class="btn btn-danger">Borrar</a>
	    </td>
	    
	     
	  </tr>
	  
	</table>
	<!--? Search model Begin -->
<div class="search-model-box">
    <div class="h-100 d-flex align-items-center justify-content-center">
        <div class="search-close-btn">+</div>
        <form class="search-model-form">
            <input type="text" id="search-input" placeholder="Searching key.....">
        </form>
    </div>
</div>
<!-- Search model end -->
<!-- Scroll Up -->
<div id="back-top" >
    <a title="Go to Top" href="#"> <i class="fas fa-level-up-alt"></i></a>
</div>

<div th:insert="fragments/footer :: footer-area"></div>