<div th:insert="fragments/header :: header-area"></div>

<main>
	<!-- breadcrumb Start-->
	<div class="page-notification">
		<div class="container">
			<div class="row">
				<div class="col-lg-12">
					<nav aria-label="breadcrumb">
						<ol class="breadcrumb justify-content-center">
							<li class="breadcrumb-item"><a href="#">Creación de los
									Productos</a></li>
						</ol>
					</nav>
				</div>
			</div>
		</div>
	</div>

	<div class="col-lg-8 col-md-8">

		<form th:action="@{/productos/save}" method="post" class="mb-30" th:object="${producto}"  enctype="multipart/form-data">
			<input type="hidden" th:field="*{id}">

			<div class="mt-10">
				<label class="mb-30" for="Nombre">Nombre:</label>
				<br>
				<input
					type="text" id="Nombre" name="Nombre"
					placeholder="Nombre del producto" class="single-input"
					onfocus="this.placeholder = ''"
					onblur="this.placeholder = 'Nombre del producto'" value="" th:field="*{nombre}">
			</div>
			<br>

			<div class="mt-10">
				<label class="mb-30" for="Descripcion">Descripción:</label><br>
				<textarea id="Descripcion" name="Descripcion"
					placeholder="Descripción del producto" class="single-input-primary"
					onfocus="this.placeholder = ''"
					onblur="this.placeholder = 'Descripción del producto'" th:field="*{descripcion}"></textarea>
			</div>

			<br>

			<div class="mt-10">
				<label class="mb-30" for="Materiales">Materiales:</label><br> <input
					type="text" id="Materiales" name="Materiales"
					placeholder="Materiales del cual está hecho el producto"
					class="single-input" onfocus="this.placeholder = ''"
					onblur="this.placeholder = 'Materiales del cual está hecho el producto'"
					value="" th:field="*{materiales}">
			</div>

			<br>

			<div class="mt-10">
				<label class="mb-30" for="Talla">Talla:</label><br> <input
					type="text" id="Talla" name="Talla"
					placeholder="Talla del producto" class="single-input"
					onfocus="this.placeholder = ''"
					onblur="this.placeholder = 'Talla del producto'" value="" th:field="*{talla}">
			</div>

			<br>

			<div class="mt-10">
				<label class="mb-30" for="Precio">Precio:</label><br> <input
					type="number" id="Precio" name="Precio"
					placeholder="Precio del producto" class="single-input"
					onfocus="this.placeholder = ''"
					onblur="this.placeholder = 'Precio del producto'" value="" th:field="*{precio}">
			</div>

			<br>

			<div class="mt-10">
				<label class="mb-30" for="Oferta">Oferta:</label><br> <input
					type="number" id="Oferta" name="Oferta"
					placeholder="Oferta del producto" class="single-input"
					onfocus="this.placeholder = ''"
					onblur="this.placeholder = 'Oferta del producto'" value="" th:field="*{oferta}">
			</div>

			<br>

			<div class="mt-10">
				<label for="IdCategoria">Categoría</label>
				<br>
				<select  class="form-control" name="categoria" th:field="*{categoria}">
					<option th:each="categoria : ${categorias}"
							th:value="${categoria.id}" th:text="${categoria.nombre}">
					</option>
				</select>
				<br>
			</div>

			<br>
			<div class="mt-10">
				<label for="archivoImagen">Imagen</label>
				<input type="file" class="form-control-file" name="archivoImagen" id="archivoImagen">
			</div>


			<br> <br>
			<button type="submit" title="Guardar producto"
				class="genric-btn default e-large circle arrow">Guardar</button>

		</form>

	</div>


</main>



<div th:insert="fragments/footer :: footer-area"></div>