<div th:insert="fragments/header :: header-area"></div>
    
    
    <main>
        <!-- breadcrumb Start-->
        <div class="page-notification">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12">
                        <nav aria-label="breadcrumb">
                            <ol class="breadcrumb justify-content-center">
                                <!-- <li class="breadcrumb-item"><a href="index.html">Home</a></li> -->
                                <li class="breadcrumb-item"><a href="#">Creación de los Productos</a></li> 
                            </ol>
                        </nav>
                    </div>
                </div>
            </div>
        </div>
       
			<div class="row">
			<div class="col-lg-8 col-md-8">
			
        <form th:action="@{/joya/save}" method="get"  class="mb-30">
        
        <div class="mt-10">
		  <label class="mb-30" for="nombre">Nombre:</label><br>
		  <input type="text" id="nombre" name="nombre" placeholder="Nombre del producto" 
		  class="single-input"
		  onfocus="this.placeholder = ''" onblur="this.placeholder = 'Nombre del producto'"
		   value="">
		  </div>
		  		  <br>
		  		  
		  <div class="mt-10">
		  <label class="mb-30" for="descripcion">Descripción:</label><br>
		  <textarea id="descripcion" name="descripcion" placeholder="Descripción del producto"
		  class="single-input-primary"
		  onfocus="this.placeholder = ''" onblur="this.placeholder = 'Descripción del producto'"
		  ></textarea>
		  </div>
		  
		 		  <br>
		  
		  <div class="mt-10">
		  <label class="mb-30" for="material">Materiales:</label><br>
		  <input type="text" id="material" name="material" placeholder="Materiales del cual está hecho el producto" 
		   class="single-input"
		   onfocus="this.placeholder = ''" onblur="this.placeholder = 'Materiales del cual está hecho el producto'"
		  value="">
		  </div>
		  
		  <br>
		  
		  <div class="mt-10">
		  <label class="mb-30" for="marca">Marca:</label><br>
		  <input type="text" id="marca" name="marca" placeholder="Marca del producto"
		   class="single-input"
		   onfocus="this.placeholder = ''" onblur="this.placeholder = 'Marca del producto'"
		  value="">
		  </div>
		  
		  <br>
		  
		  <div class="mt-10">
		  <label class="mb-30" for="talla">Talla:</label><br>
		  <input type="text" id="talla" name="talla" placeholder="Talla del producto"
		  class="single-input"
		  onfocus="this.placeholder = ''" onblur="this.placeholder = 'Talla del producto'"
		  value="">
		  </div>
		  
		 <br>
		 
		  <div class="mt-10">
		  <label class="mb-30" for="talla">Categoría:</label><br>
		 <select name=" Categorías">
		 
		 <option value="Reloj">Collares</option>
		 <option value="Collar">Pendientes</option>
		 <option value="Aretes">Brazaletes</option>
	
		 
		 
		 </select>
		 <br>
		  </div>
		  
		  <br>
		  
		  <div class="mt-10">
		  <label class="mb-30" for="precio">Precio:</label><br>
		  <input type="number" id="precio" name="precio" placeholder="Precio del producto"
		  class="single-input"
		  onfocus="this.placeholder = ''" onblur="this.placeholder = 'Precio del producto'"
		  value="">
		  </div>
		  
		  <br>
	
		  <br>
		  <br>
		   <button type="submit" title="Guardar producto" class="genric-btn default e-large circle arrow">Guardar</button>  
		</form> 
	</div>
	</div>
	
</main>



<div th:insert="fragments/footer :: footer-area"></div>